<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">
  <xi:include href="itteco_whiteboard_utils.html" />
<body py:strip="">
<script type="text/javascript">/*<![CDATA[*/
    function attachmentFormManager(rootSel, sysUrl){ 
        var root = $(rootSel);
        
        function log(){
			if(typeof(window.console)=='undefined'){
				window.console ={log: function(){}};
			}
        }
        function setupCallback(root){
            if(window.popup_context && window.popup_context.setup){
                popup_context.setup(root);
            }
        }
        
        function notify(vo){
            log('nofity-parent',window.popup_context, vo);
            if(window.popup_context && window.popup_context.done){
                window.popup_context.done(vo);
            }
        }
        function bindHandlers(){
            var form = $('form', root);
            log('bindHandlers', form);
            
            $('.upload-button', form).click(function(){
                $.ajaxFileUpload(
                    {
                        url: '${href("popup", "attach", resource.realm, resource.id)}',
                        originalForm: form,
                        secureuri:false,
                        fileElementId:'attachment',
                        dataType: 'json',
                        beforeSend:function(){
                            $("#loading").show();
                        },
                        complete:function(){
                            $("#loading").hide();
                        },				
                        success: function (data, status){
                        log('success callback', data);
                            if(typeof(data.error) != 'undefined'){
                                if(data.error != ''){
                                    alert(data.error);
                                }else{
                                    alert(data.msg);
                                }
                            }else{
                                notify(data.attachment);
                            }
                            
                        },
                        error: function (data, status, e){
                            alert(e);
                        }
                    }
                )
                return false;
            });

        }

        function init(){
            setupCallback(root);
            bindHandlers();
        }
        
        init();
    };
/*]]>*/</script>

	<!-- container -->
	<div class="p-container" style="min-width:600px">
		<!-- header -->
        <div class="p-header">
        	<div class="p-header-bl">
            	<div class="p-header-br">
	        		<h1>Attach a file</h1>
                </div>
        	</div>
        </div>
        <!-- /header -->
		<!-- content -->
        <div id="popup-attachment-editor" class="p-content">
            <!-- form -->
            <form action="" method="POST" enctype="multipart/form-data">

                <div class="s-form p-form-ticket-edit">
                    <div class="s-form-row">
                        <div class="s-form-cell s-form-cell-primary s-form-label"><label for="file">File</label></div>
                        <div class="s-form-cell s-form-item-xl"><input id="attachment" type="file" name="attachment" class="s-input-file"/></div>
                    </div>
                    
                    <div class="s-form-row">
                        <div class="s-form-cell s-form-cell-primary s-form-label"><label for="description">Description</label></div>
                        <div class="s-form-cell s-form-item-xl"><input type="text" name="description" size="60" /></div>
                    </div>

                    <div class="s-form-row">
                        <div class="s-form-cell s-form-cell-primary s-form-label"><label>&nbsp;</label></div>
                        <div class="s-form-cell s-form-check-value"><label><input id="replace" type="checkbox" name="replace" /> Replace existing attachment of the same name</label></div>

                    </div>
                </div> 
                <!-- /form -->
                <!-- buttons -->
                <div class="s-buttons p-footer">
                    <div class="s-buttons-item">
                        <input type="submit" class="s-button s-button-save upload-button" value="Upload" name="submit" />
                    </div>
                </div>
                <!-- /buttons -->
            </form>
        </div>
        <script type="text/javascript">/*<![CDATA[*/
        if(window.popup_context){
            attachmentFormManager("#popup-attachment-editor", "${href.login('xmlrpc')}");
        }else{
            jQuery(document).ready(function(){
                attachmentFormManager("#popup-attachment-editor", "${href.login('xmlrpc')}");
            });
        }
        /*]]>*/</script>
    </div>
</body>
</html>
