<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="itteco_whiteboard_utils.html" />
<head>
<script type="text/javascript">/*<![CDATA[*/
    function ticketFormManager(rootSel, sysUrl){ 
        var rpc;            
        var root = $(rootSel);
        
        function log(){
            if(typeof console !='undefined' && console.log){
                console.log.apply("", arguments);
            }
        }
        function setupCallback(root){
            if(window.popup_context && window.popup_context.setup){
                window.popup_context.setup(root);
            }
        }
        
        function createTicketAttributes(form){
            var attrs = {}, arr = $(form).serializeArray();
            
            for(i in arr){
                var field = arr[i];
                if(field.name.indexOf('field_')==0){
                    attrs[field.name.substr(6)] = field.value;
                }
            }
            
            return attrs;
        }

        function notify(vo){
            log('nofity-parent',window.popup_context, vo);
            if(window.popup_context && window.popup_context.done){
                window.popup_context.done(vo);
            }
        }
        
        function handleTicketResp(resp){
            var tkt = resp.result[3];
            tkt.id = resp.result[0];
            notify(tkt);
        }

        function updateTicket(id, attrs){
            rpc.ticket.update(
                handleTicketResp,
                Number(id),
                '',
                attrs
            );
        }

        function createTicket(attrs){
            rpc.ticket.create(
                function(resp){
                    var id = resp.result;
                    $(":input[name='ticket']", root).val(id),
                    rpc.ticket.get(
                        handleTicketResp,
                        id
                    );                    
                },                
                '',//summary
                '',//description
                attrs
            );
        }

        function save(id, attrs){
            if(id==''){
                createTicket(attrs);
            }else{
                updateTicket(id, attrs);
            }
        }
        function bindHandlers(){
            log('bindHandlers', $('form', root));
            $('form', root).submit(function(){
                try{
                    save(
                        $(":input[name='ticket']", root).val(),
                        createTicketAttributes(this)
                    );
                }catch(e){log('action-failed with exception', e);}
                return false;
            });
            
            $('.s-button-cancel', root).click(function(){
                if(window.popup_context && window.popup_context.cancel){
                    window.popup_context.cancel();
                }
            });
        }
                   
        function setupRpc(url){
            rpc = $.rpc(
               url,
               "xml",
               function(server) {
                    if(!server || !server.system) {
                        alert("Could not get the rpc object ..");
                        return;
                    }
                }
            );
        }
        function init(){
            setupCallback(root);
            bindHandlers();
            setupRpc(sysUrl);
        }
        
        init();
    };
/*]]>*/</script>
</head>
<body>
	<!-- container -->
	<div class="p-container" py:with="obj=new_ticket_descriptor['ticket']; cfg=new_ticket_descriptor" style="min-width:390px">
		<!-- header -->
        <div class="p-header">
        	<div class="p-header-bl">
            	<div class="p-header-br">
	        		<h1>Ticket #${obj.id}</h1>
                </div>
        	</div>
        </div>
        <!-- /header -->
		<!-- content -->
        <div id="popup-ticket-editor" class="p-content">
			<form onreset="$('.custom_drop_down',this).triggerHandler('reset')"
				py:with="editable=obj.id=='new' or 'TICKET_APPEND' in perm('ticket', obj.id) or 'TICKET_CHGPROP' in perm('ticket', obj.id) or False; 
				fields = cfg.fields or obj.type and ticket_type_rendering_config[obj.type]['fields'] or [];">

				<!-- form -->
				<div class="s-form p-form-ticket-edit">
					<div class="s-form-row" py:for="field in fields">
						<div class="s-form-cell s-form-cell-primary s-form-label"><label for="field-${field.name}">${field['label']}</label></div>
						<div class="s-form-cell ">${render_field_editor(obj, field)}</div>
					</div>
					<div class="s-form-row">
						<div class="s-form-cell s-form-cell-primary s-form-label"><label for="field-milestone">Milestone</label></div>
						<div class="s-form-cell "><xi:include py:with="field_name='field_milestone'; milestone_name= obj.milestone;"  href="itteco_milestones_dd.html" /></div>
					</div>
					<div class="s-form-row" py:if="obj and obj.id!='new' and cfg.workflow">
						<div class="s-form-cell s-form-cell-primary s-form-label"><label for="field-action">Action</label></div>
						<div class="s-form-cell ">
							<div py:for="key, label, controls, hints in action_controls">
							  <input type="radio" id="action_$key" name="field_action" value="$key" checked="${action == key or None}" />
								<label for="action_$key">$label</label>
								$controls
								<span class="hint" py:for="hint in hints">$hint</span>
							</div>
						</div>
					</div>
					<input type="hidden" name="ticket" value="${obj.id!='new' and obj.id or None}"/>      
				</div>
				<div class="s-buttons p-footer">
					<div class="s-buttons-item">
						<a href="${obj.id=='new' and href.newticket() or href.ticket(obj.id)}" class="s-button-link s-icon s-icon-edit">Switch to full editor</a>
					</div>
					<div class="s-buttons-item">
						<input type="submit" class="s-button s-button-cancel" value="Cancel" name="submit" />
					</div>
					<div class="s-buttons-item">
						<input type="submit" class="s-button s-button-save" value="Save Changes" name="submit" />
					</div>
				</div>

			</form>
			<script type="text/javascript">/*<![CDATA[*/
			if(window.popup_context){
				ticketFormManager("#popup-ticket-editor", "${href.login('xmlrpc')}");
			}else{
				jQuery(document).ready(function(){
					ticketFormManager("#popup-ticket-editor", "${href.login('xmlrpc')}");
				});
			}
			/*]]>*/</script>

        </div>
    </div>
</body>
</html>
