<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
<script type="text/javascript">/*<![CDATA[*/
    function ticketFormManager(rootSel, sysUrl){ 
        var rpc;            
        var root = $(rootSel);
        
        function log(){
            if(typeof console !='undefined' && console.log){
                console.log.apply("", arguments);
            }
        }
        function setupCallback(root){
            if(window.popup_context && window.popup_context.setup){
                popup_context.setup(root);
            }
        }
        
        function notify(vo){
            log('nofity-parent',window.popup_context, vo);
            if(window.popup_context && window.popup_context.done){
                window.popup_context.done(vo);
            }
        }
        
        function handleMilestoneResp(resp){
            notify(resp.result);
        }

        function commentMilestone(id, comment){
            rpc.structured_milestone.update(
                handleMilestoneResp,
                id,
                comment
            );
        }

        function bindHandlers(){
            log('bindHandlers', $('form', root));
            $('form', root).submit(function(){
                try{
                    commentMilestone(
                        $(":input[name='milestone']", root).val(),
                        $(":input[name='comment']", root).val()
                    );
                }catch(e){log('action-failed with exception', e);}
                return false;
            });
            
            $('.s-button-cancel', root).click(function(){
                if(window.popup_context && window.popup_context.cancel){
                    window.popup_context.cancel();
                }
            });
        }
                   
        function setupRpc(url){
            rpc = $.rpc(
               url,
               "xml",
               function(server) {
                    if(!server || !server.system) {
                        alert("Could not get the rpc object ..");
                        return;
                    }
                }
            );

        }
        function init(){
            setupCallback(root);
            bindHandlers();
            setupRpc(sysUrl);
            $("textarea.wikitext", root).each(function() { addWikiFormattingToolbar(this) });
        }
        
        init();
    };

    jQuery(document).ready(function(){
        ticketFormManager("#popup-ticket-comment", "${href.login('xmlrpc')}");    
    });
/*]]>*/</script>
</head>
<body>

    <py:def function="authorinfo(author, email_map=None)"><span class="author smile-username"><py:choose><py:when test="author"><py:with
    vars="author = show_email_addresses and email_map and '@' not in author and email_map[author] or author">${
      author and format_author(author) or 'anonymous'
  }</py:with></py:when><py:otherwise>anonymous</py:otherwise></py:choose></span></py:def>
    <py:def function="display_change(change)">
    <ul py:if="change.fields" class="changes">
    <li py:for="field_name, field in change.fields.items()">
      <strong>${field_name}</strong>
      <py:choose>
        <py:when test="field_name == 'attachment'">
          <a href="${href.attachment('ticket', ticket.id, field.new)}"><em>${field.new}</em></a> added
        </py:when>
        <py:when test="'rendered' in field">${field.rendered}</py:when>
        <py:when test="field.old and field.new">
          changed from <em>${field.old}</em> to <em>${field.new}</em>
        </py:when>
        <py:when test="not field.old and field.new">
          set to <em>${field.new}</em>
        </py:when>
        <py:otherwise>
          <em>${field.old}</em> deleted
        </py:otherwise>
      </py:choose>
    </li>
    </ul>
    <div py:if="'comment' in change" class="comment searchable" xml:space="preserve">
    ${wiki_to_html(context, change.comment, escape_newlines=preserve_newlines)}
    </div>
    </py:def>

	<!-- container -->
	<div id="popup-ticket-comment" class="p-container">
		<!-- header -->
        <div class="p-header">
        	<div class="p-header-bl">
            	<div class="p-header-br">
	        		<h1>Milestone ${milestone.name} - Comments</h1>
                </div>
        	</div>
        </div>
        <!-- /header -->
		<!-- content -->
		<form>
			<div class="p-content" py:with="ticket = milestone.ticket">
				<!-- scroller -->
				<div class="p-scroller">
					<!-- /timeline -->
					<ul class="s-history">
						<li py:for="change in changes" class="s-history-item">
							<div class="s-avatar-wrapper s-avatar-wrapper-16">
								<img class="s-avatar s-avatar-medium" width="32" height="32" alt="Avatar" src="https://ws.itteco.net/itteco-ws/people/${change.author}/avatar" />
							</div>
							<div class="s-history-item-body">
								<p class="s-history-note" id="comment:${change.cnum}">
									Changed ${dateinfo(change.date)} ago by ${authorinfo(change.author)}.
								</p>
								<div class="s-history-entry s-text">
									${display_change(change)}
								</div>
							</div>
						</li>
					</ul>
					<!-- /timeline -->
				</div>
					
				<!-- leave comment -->
				<div class="s-history-comment">
					
					<div class="s-form">
						<label for="comment">Add Comment</label>
						<textarea class="s-form-item wikitext" name="comment" id="comment">${comment}</textarea>
						<div class="s-form-row s-form-hint-only">
							<div class="s-form-cell s-form-hint">You may use <a href="#">WikiFormatting</a> here</div>
						</div>
					</div>
					
					<!-- buttons -->
					<div class="s-buttons-wrapper">
						<div class="s-buttons p-footer">
							<div class="s-buttons-item">
								<a href="${href.ticket(ticket.id)}" class="s-button-link s-icon s-icon-edit">Switch to full editor</a>
							</div>
							<div class="s-buttons-item">
								<input type="submit" class="s-button s-button-cancel" value="Cancel" name="submit" />
							</div>
							<div class="s-buttons-item">
								<input type="submit" class="s-button s-button-save" value="Add Comment" name="submit" />
							</div>
						</div>
					</div>
					<!-- /buttons -->
				</div>
				<!-- leave comment -->                                     
			</div>
			<input type="hidden" name="milestone" value="${milestone.name}"/>
        </form>
    </div>
</body>
</html>
