.c-colordefault {color: #266DB9; background-color: #266DB9; border-color: #266DB9;}

.c-color1, .c-color1 a {color: #813d44; background-color: #813d44; border-color: #813d44;}
.c-color2, .c-color2 a {color: #aa355f; background-color: #aa355f; border-color: #aa355f;}
.c-color3, .c-color3 a {color: #c62683; background-color: #c62683; border-color: #c62683;}
.c-color4, .c-color4 a {color: #e4306f; background-color: #e4306f; border-color: #e4306f;}
.c-color5, .c-color5 a {color: #a37ca7; background-color: #a37ca7; border-color: #a37ca7;}
.c-color6, .c-color6 a {color: #5e3ea5; background-color: #5e3ea5; border-color: #5e3ea5;}
.c-color7, .c-color7 a {color: #183669; background-color: #183669; border-color: #183669;}

.c-color8, .c-color8 a {color: #008979; background-color: #008979; border-color: #008979;}
.c-color9, .c-color9 a {color: #5ca534; background-color: #5ca534; border-color: #5ca534;}
.c-color10, .c-color10 a {color: #889e4e; background-color: #889e4e; border-color: #889e4e;}
.c-color11, .c-color11 a {color: #b3bf00; background-color: #b3bf00; border-color: #b3bf00;}
.c-color12, .c-color12 a {color: #edc100; background-color: #edc100; border-color: #edc100;}
.c-color13, .c-color13 a {color: #ed8d1f; background-color: #ed8d1f; border-color: #ed8d1f;}
.c-color14, .c-color14 a {color: #ce5c00; background-color: #ce5c00; border-color: #ce5c00;}

.c-color15, .c-color15 a {color: #19425a; background-color: #19425a; border-color: #19425a;}
.c-color16, .c-color16 a {color: #266db9; background-color: #266db9; border-color: #266db9;}
.c-color17, .c-color17 a {color: #469cc9; background-color: #469cc9; border-color: #469cc9;}
.c-color18, .c-color18 a {color: #7083a8; background-color: #7083a8; border-color: #7083a8;}
.c-color19, .c-color19 a {color: #b2b77c; background-color: #b2b77c; border-color: #b2b77c;}
.c-color20, .c-color20 a {color: #ba9d6a; background-color: #ba9d6a; border-color: #ba9d6a;}
.c-color21 , .c-color21 a {color: #6c615e; background-color: #6c615e; border-color: #6c615e;}
.fc-event a {color: white;}