body{
    background: url('./../images/droppable-hover.png') no-repeat;
    background-attachment: fixed;
}
.link-expanded, .link-collapsed {
	display: inline-block;
    height: 13px;
	margin: 0;
	padding: 0;
	width: 10px;
}
.link-expanded:hover, .link-collapsed:hover  {
	background-color: transparent;
}
.link-expanded {
	background: url(./../images/icon_expanded.png) no-repeat 0 5px;
}
.link-collapsed {    
	background: url(./../images/icon_collapsed.png) no-repeat 0 4px;
	width: 10px;
}
.droppable-active {
	background-color: white;
}

.droppable-hover {
	background:  #90e224 url(./../images/droppable-hover.png) 0 0 !IMPORTANT;
}
#dragHelper{
	background-color: #90e224;
    cursor: move;
    z-index: 101;
}
.move-here{
	cursor: pointer;
    float: right;
    height: 16px;
    width: 16px;
}
.ui-droppable .numrows{ margin-right: 17px;}

.field-editor-save, .field-editor-cancel {
    display: inline-block;
    height: 16px;
	width: 16px;
	margin: 0;
	padding: 0;
}

.field-editor-save{ background:  transparent url(./../images/accept.png) 0 0 !IMPORTANT;}
.field-editor-cancel{ background:  transparent url(./../images/cancel.png) 0 0 !IMPORTANT;}