<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="itteco_whiteboard_utils.html" />
 <head>
  <title>Whiteboard - ${board_type_title} - Milestone: ${milestone and milestone.name or 'Not Selected'}</title>
    <link rel="stylesheet" type="text/css" href="${chrome.htdocs_location}css/roadmap.css" />
    <link rel="stylesheet" type="text/css" href="${chrome.htdocs_location}../itteco/css/common.css" />
    <script src="${chrome.htdocs_location}../itteco/js/jquery.ui/ui.core.js"/>
    <script src="${chrome.htdocs_location}../itteco/js/jquery.ui/ui.draggable.js"/>
    <script src="${chrome.htdocs_location}../itteco/js/jquery.ui/ui.droppable.js"/>
    <script src="${chrome.htdocs_location}../itteco/js/custom_select.js"/>
    <script src="${chrome.htdocs_location}../itteco/js/whiteboard.js"/>
  <script>
    ${render_js_config()}
  </script>
 </head> 
 <body>
  <!-- WHITEBOARD -->
  <div id="whiteboard">
    <div id="wb-error-panel"></div>
    <!-- TABS -->
    <ul id="wb-tabs" py:if="whitebord_ctxtnav">
      <li py:for="i, elm in enumerate(whitebord_ctxtnav)">$elm</li>
    </ul>
    <!-- PANEL -->
    <div id="wb-panel">
    
       	<div id="wb-panel-button" onclick="$('#wb-sections, #wb-section-info').add($(this).children()).toggle(); return false;">
            <span>
                <a href="#" class="link-collapsed">&nbsp;</a>
                <a href="#">Expand Team/Milestones panel</a>
            </span>
            <span style="display:none">
                <a href="#" class="link-expanded">&nbsp;</a>
                <a href="#">Collapse Team/Milestones panel</a>
            </span>
        </div>    
        <div id="wb-section-info">
	        <span id="wb-section-info-members">
	            <strong>Team:</strong> ${team and len(team) or 0} member(s) / Selected: <span class="active_filter">All</span>
            </span>
            <span id="wb-section-info-milestone" py:if="board_type!='stories'">
            	<strong>Milestone:</strong> <a href="#">${(milestone and isinstance(milestone, list) and ", ".join(milestone) or milestone) or 'Backlog (no milestone)'}</a>
            </span>
        </div>
        
        
        <div id="wb-sections" style="display: none;">
        
            <div class="wb-panel-section" id="wb-section1">
                <p>Drag ticket to assign team member or milestone.</p>
                <p>Tickets can be assigned to <span class="green">green items</span> only.</p>
                <p>Click to milestone to display assigned tickets.</p>
            </div>
    
            <div class="wb-panel-section" id="wb-section2">
                <strong>Team:</strong> / Selected: <span class="active_filter">All</span>
                <ul>
                    <li class="item-droppable" py:for="member in team" status="assigned" owner="${member}">
                        <a href="#">${member}</a></li><br/>
                    <li class="${authname!='anonymous' and 'item-droppable' or ''}" status="assigned" owner="${authname}"><a href="#">Me</a></li>
                    <li owner=""><a href="#">All</a></li>
                </ul>
            </div>
           
            <div class="wb-panel-section" id="wb-section3" py:if="board_type!='stories'">
                <strong>Milestone:</strong> <span id="milestones-selected">${(milestone and isinstance(milestone, list) and ", ".join(milestone))or 'Backlog (no milestone)'}</span>
                ${render_milestones(milestones, 0)}
            </div>
		</div>        	
    </div> 
    <!-- BOARD -->
    <div id="wb-board">
    
        <table class="whiteboard_table" width="100%">
          <thead>
            <tr>
              <!-- FIRST-ITEM CLASS -->
              <th class="first-item">
                <!-- SPAN/LABEL CLASS -->
              	<span class="th-label">${table_title}</span>
              </th>
              <th py:for="idx, group in enumerate(groups)" class="group calculated ${idx % 2 and 'group_odd' or 'group_even'}" status="${group.name}">
                  <div class="summary">
                    <div class='parameter'>
                      <span class='parameter_name'>Sum ${progress_field.label}:</span> <span class='parameter_value' field_name="${progress_field.name}"></span>
                    </div>
                  </div>
                  <span class="th-label">${group.name}</span>
              </th>
            </tr>
          </thead>
          <tbody>
              <tr py:for="obj in row_items_iterator" py:with="idx= obj.name or obj.id or '';items = stories.get(idx or None)" idx="${idx}">
                <th class="group_holder" idx="${idx}" valign="top">
                    <xi:include href="${row_head_renderer}" py:with="cfg=items"/>
                </th>
                <td py:for="idx, gr in enumerate(groups)" py:with="key = gr.name"  class="droppable ${idx % 2 and 'group_odd' or 'group_even'} ${gr.accordion and 'accordion_support' or ''}" status="${key}" action="${gr.action}">
                    <py:for each="item in items[key]"><?python item['draggable']=True;?>
                        <xi:include href="itteco_ticket_widget.html" py:with="obj=item['ticket']; cfg=item"/>
                    </py:for>
                </td>
              </tr>
          </tbody>
        </table>
	</div>
    <!-- STATUS -->
    <p id="wb-status">Progress bars consider <strong>${progress_field['label']}</strong> progress.</p>

  </div>
 </body>
</html>
