<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">
    <div py:def="render_milestones(items, level, maxlevel, hide_completed)" py:strip="">
        <py:if test="items and (maxlevel==-1 or (maxlevel-level)!=0)">
            <option py:if="level==0" class="level0" value=''>Backlog (no milestone)</option>
            <py:for each="item in items">
				<option class="level${level} ${item.completed and 'completed' or ''}" value="${item.name}">${item.name}</option>
				${render_milestones(item.kids, level +1, maxlevel, hide_completed)}
            </py:for>
        </py:if>
    </div>

    <div py:def="render_milestone_selection(value, field_name, maxlevel, hide_completed)" py:strip="">
        <div class="t-milestone">
			<select id="${field_name}-dd" name="${field_name}">
                ${render_milestones(structured_milestones,0, maxlevel, hide_completed)}
			</select>
        </div>
    </div>
    ${render_milestone_selection(milestone_name,field_name, max_level or -1, hide_completed)}
	<script type="text/javascript">
		$(document).ready(function(e) {
			$('#${field_name}-dd').val("${milestone_name}").msDropDown();
		});	                    
	</script>
</html>
