<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">

    <div py:def="render_milestones_table(items, level)" py:strip="">
        <py:if test="items">            
            <py:for each="milestone in items">
            <tr>
                <td>
                  <input type="checkbox" name="sel" value="$milestone.name" />
                </td>
                <td>
                  <a style="padding-left:${level*10}px" href="${panel_href(milestone.name)}">${milestone.name}</a>
                  [${milestone.level['label']}]
                </td>
                <td><py:if test="milestone.due">
                  ${format_date(milestone.due)}
                </py:if></td>
                <td><py:if test="milestone.completed">
                  ${format_datetime(milestone.completed)}
                </py:if></td>
                <td class="default">
                  <input type="radio" name="default" value="$milestone.name"
                         checked="${milestone.name==default or None}" />
                </td>
                <td>${milestone_tickets_quantity.get(milestone.name)}</td>
              </tr>
                ${render_milestones_table(milestone.kids, level +1)}
            </py:for>
        </py:if>
    </div>
    
    <py:match path="*/fieldset[@class='iefix']" once="true">
        Parent:<xi:include py:with="field_name='parent'; milestone_name= milestone.parent; max_level=max_milestone_level" href="itteco_milestones_dd.html" />
        <fieldset py:attrs="select('@*')">
            ${select("*|text()")}            
        </fieldset>

    </py:match>

    <py:match path="*/input[@type='submit' and @name='add']" once="true">
        Parent:<xi:include py:with="field_name='parent';milestone_name= ''; max_level=max_milestone_level" href="itteco_milestones_dd.html" />
        <br/>
        <input py:attrs="select('@*')">
            ${select("*|text()")}
        </input>
    </py:match>


    <py:match path="*/table[@id='millist']" once="true">
        <table py:attrs="select('@*')">
              <thead>
                <tr><th class="sel">&nbsp;</th>
                    <th>Name</th><th>Due</th><th>Completed</th><th>Default</th><th>Tickets</th>
                </tr>
              </thead>
              <tbody>${render_milestones_table(structured_milestones,0)}</tbody>
        </table>
    </py:match>
    
    <xi:include href="admin_milestones.html" />

</html>
