<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">
    <?python from itteco.utils.render import * ?>
<?python
def gentrans(group):
   out = {}
   for trans in group['transitions']:
      for old_state in trans['oldstates']:
         out[old_state] = trans['action']
   return ','.join('"%s":"%s"' % (key, value) for key, value in out.items())
   
def stats_status_to_group(stats_config):
   out = {}
   for cfg in stats_config:
      for s in cfg['statuses']:
         out[s] = cfg['name']
   return ','.join('"%s":"%s"' % (key, value) for key, value in out.items())
?>
     <div py:def="render_js_config()" py:strip="">
        window.progress_field_name = "${progress_field.name}";
        window.current_milestone = ${as_js_dict(milestone)};
        window.groups_config = {
        <py:for each="group in groups">
            "${group['name']}" : {
            "transitions" : {
               ${  gentrans(group)  }
            },
            "statuses" : ${as_js_dict(group['status'])}
            },
        </py:for>
            "x":1
        };
        
        window.stats_config = {
        <py:for each="config in stats_config">
            "${config['name']}" : {
            "statuses" : ${as_js_dict(config['statuses'])},
            "overall_completion" : ${config['overall_completion'] or 0},
            "label" : "${config['label'] or config['name']}",
            "css_class" : "${config['css_class'] or config['name']}"},
        </py:for>
            "x":1
        };
        window.ticket_rendering_config = {
        <py:for each="tkt_type in ticket_type_rendering_config">
            "$tkt_type" : {${",".join(['"%s":"%s"' % (key, ticket_type_rendering_config[tkt_type][key]) for key in ticket_type_rendering_config[tkt_type]])}},
        </py:for>
            "x":1
        };

        window.stats_status_to_group = {${stats_status_to_group(stats_config)}};
        window.urls = {
            base : "${href()}",
            action : "${href.whiteboard('modify')}",
            popup : "${href.popup('')}",
            rpc : "${href.login('xmlrpc')}"
        }
     </div>
     <div py:def="render_milestones(items, level, maxlevel=-1, show_extras=True)" py:strip="">
        <py:if test="items and (maxlevel==-1 or (maxlevel-level)!=0)">
            <br/>
            <ul>
                <li py:if="level==0 and show_extras"><a href="${href.whiteboard(board_type, 'none')}" class="item-droppable milestone">Backlog (no milestone)</a></li>
                <py:for each="item in items">
                <li><a href="${href.whiteboard(board_type, item.name)}" class="item-droppable milestone"><span>${item.name}</span><span class="milestone-type">[${item.level['label']}]</span></a>
                ${render_milestones(item.kids, level +1, maxlevel, show_extras)}
                </li>
                </py:for>
                <li py:if="level==0 and show_extras"><a href="${href.whiteboard(board_type, 'not_completed_milestones')}">All active milestones</a></li>
                <form id="mils_options"  py:if="level==0">
                <div class="milestones-options" py:if="show_extras">
                    <input type="hidden" name="include_sub_mils" value="off"/>
                    <input id="sub_mils_switch" type="checkbox" name="include_sub_mils" checked="${include_sub_mils and 'checked' or None}" /><label for="sub_mils_switch">Include tickets from sub-milestones</label>
                </div>
                <div class="milestones-options">
                    <input type="hidden" name="show_closed_milestones" value="off"/>
                    <input id="complete_mils_switch" type="checkbox" name="show_closed_milestones" checked="${show_closed_milestones and 'checked' or None}"/><label for="complete_mils_switch">Show already completed milestones</label>
                </div>
                </form>

            </ul>
        </py:if>
    </div>
    <div py:def="render_progressbar()" py:strip="">
        <table class="progress" width="100%">
          <tr></tr>
        </table>
        <p class="percent"></p>
        <dl></dl>
    </div>
    <div py:def="render_field(ticket, field)" py:strip="">
      ${field['label']}:<br/>
      ${render_field_editor(ticket, field)}
    </div>
    
    <div py:def="render_field_editor(ticket, field)" py:strip="">
      <py:choose test="field.type" py:if="field">
        <select py:when="'select'" name="field_${field.name}">
          <option py:if="field.optional"></option>
          <option py:for="option in field.options"
                  selected="${ticket[field.name] == option or None}"
                  py:content="option"></option>
          <optgroup py:for="optgroup in field.optgroups"
                    label="${optgroup.label}">
            <option py:for="option in optgroup.options"
                    selected="${ticket[field.name] == option or None}"
                    py:content="option"></option>
          </optgroup>
        </select>
        <textarea py:when="'textarea'" name="field_${field.name}"
                  cols="${field.width or 40}" rows="${field.height or 4}"
                  class="${field.format == 'wiki' and 'wikitext' or None}"
                  py:content="ticket[field.name]"></textarea>
        <span py:when="'checkbox'">
          <input type="checkbox" id="field-${field.name}" name="field_${field.name}"
                 checked="${ticket[field.name] == '1' and 'checked' or None}" value="1" />
          <input type="hidden" name="field_checkbox_${field.name}" value="1" />
        </span>
        <label py:when="'radio'"
               py:for="idx, option in enumerate(field.options)">
          <input type="radio" name="field_${field.name}" value="${option}"
                 checked="${ticket[field.name] == option or None}" />
          ${option}
        </label>
         <input py:otherwise="" type="text" 
              name="field_${field.name}" value="${ticket[field.name]}" />
      </py:choose>
    </div>
</html>
