<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">
    
    <xi:include href="itteco_whiteboard_utils.html" />
    
    <div class="widget milestone_widget calculated" py:with="name = obj and obj.name or ''" idx="${name}"
        py:if="'MILESTONE_VIEW' in perm(obj.resource)">
      <div class="title drag_handle"><a href="${href.milestone(name)}" py:if="name">${name}</a><em py:if="name and obj.level">&nbsp;[${obj.level.label}]</em><span py:if="obj.due"><br/>Due in: ${format_date(obj.due)}</span>
        <span py:if="not name">Backlog (Not assigned to any milestone)</span></div>
      <div class="body" py:if="name">
          <div class="block summary" py:if="name and cfg['fields']">
              <div class='parameters'>
                <div class='parameter' py:for="f in cfg['fields']">
                  <div class='parameter_name'>Total ${f.label}:</div>
                  <div class='parameter_value' field_name="${f.name}"></div>
                </div>
                <div class='parameter info' py:if="not draggable">
                    ${render_progressbar()}
                </div>
              </div>
          </div>
          <div class="block description hidden" py:if="obj.name">
              <div class='parameters'>
                <div class='parameter'>
                  <div class='parameter_value' field_name="description">${obj.description}</div>
                </div>
              </div>
          </div>
          <ul class="views" py:if="obj.name">
            <li class="view summary active_tab">
                <a onclick="return change_ticket_view($(this).parents('.widget'),'summary');" href="#">Summary</a>
            </li>
            <li class="view description">
                <a onclick="return change_ticket_view($(this).parents('.widget'),'description');" href="#">Description</a>
            </li>
         </ul>
      </div>
    </div>
</html>
