<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

    <div id="search_content">
        <div class="sidebar-block track-search-reference form">
            <h2>Search for References</h2>
            <form id="fullsearch" action="" method="get" onsubmit="return performSearch(this, '${href.jsonsearch()}');">
                <input type="text" id="q" name="q" value="${query}"/>
                <input type="submit" value="${_('Search')}"/>

                <p class="note">Drag-n-drop search results onto ticket to set a trace. Changes discarded unless you save it.</p>
                <p>Limit search to:</p>
                <div class="columns-generic" py:with="c=len(filters)/2; left_filters = filters[:c]; right_filters= filters[c:]">
                    <div class="columns-generic-left">
                        <ul>
                            <li py:for="filter in left_filters">
                                <input type="checkbox" id="${filter.name}" name="${filter.name}" checked="${filter.active and 'checked' or None}"/> <label for="${filter.name}">${filter.label}</label>
                            </li>
                        </ul>                                        
                    </div>
                    <div class="columns-generic-right">
                        <ul>
                            <li py:for="filter in right_filters">
                                <input type="checkbox" id="${filter.name}" name="${filter.name}" checked="${filter.active and 'checked' or None}"/> <label for="${filter.name}">${filter.label}</label>
                            </li>
                        </ul>                                         
                    </div>
                </div>
            </form>
        </div>
        <div id="results" class="sidebar-help track-sidebar-help">
        </div>
    </div>
</html>