<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

    <div class="field">
        <label>
          <input type="checkbox" id="started" name="started"
                 checked="${milestone.started or None}" />
          Started:<br />
        </label>
        <label>
          <input type="text" id="starteddate" name="starteddate"
                 size="${len(date_hint)}" title="Format: ${date_hint}"
                 value="${format_date(milestone.started)}" />
          <em>Format: ${date_hint}</em>
        </label>
    </div>
</html>
