<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">
    
    <py:match path="*/form[@id='stats']" once="true">     
      <form py:attrs="select('@*')">
        ${select("*|text()")}
        <xi:include href="itteco_roadmap_options.html" />
        <input type="submit" value="Update" />
      </form>
      <script type="text/javascript">
          jQuery(document).ready(function ($) { $("#by").removeAttr("onchange"); });
      </script>
    </py:match>
    
  <xi:include href="milestone_view.html" />
</html>
